img {
    width: 400px;
    border-radius: 20px;
}

p {
    width: 400px;
}

body {
    font-family: Arial;
}
body{
    background: rgba(39, 27, 27, 1);
    
}
.wrapper{
    background: #fff;
        width: 425px;
    padding: 20px 80px;
    margin: 0 auto;
    border-radius: 30px;
}
a{
    background: black;
padding: 4px 10px;
color: #fff;
    text-decoration: none;
    border-radius: 13px;
    transition: 1s;
}
a:hover{
    background: #ff000a;
}